@use "global" as *;
.campaign {
  margin-top: rem(40);
}

.campaign__inner {
}

.campaign__heading {
}

.campaign__cards {
  margin-top: rem(24);
}

.campaign__card {

}

.campaign__button {
  margin-top: rem(40);
  text-align: center;
}
